@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
  --1: #AF75B3;
  --2: #568E03;
  --3: #c0ae28;
  --35: #e4d565;
  --4: #fff;
  --5: #575757;
  --6: #211A0C;
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Cormorant', serif;
  margin: 0;
  background: var(--5);
}

.image {
  width: 100%;
  height: 34vh;
  object-fit: scale-down;
  transform: rotateY(180deg);
}


h1 {
  font-size: 3.5rem;
  color: var(--3);
  margin: 4rem auto 1rem auto;
}

h2 {
  font-size: 1.4rem;
  max-width: 80%;
  text-align: center;
  color: var(--6);
}

.page-container {
  background: var(--4);
  box-shadow: 0 0 100px 10px var(--3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  min-height: 100vh;
  width: 65%;
  margin: auto;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-container input {
  height: 2rem;
  background: var(--4);
  margin: .3rem;
  font-family: 'Cormorant', serif;
  font-size: 1.2rem;
}

#search-btn {
  display: block;
  background: var(--3);
  height: 2rem;
  width: 14.5rem;
  margin: 1rem;
}

#search-btn:hover {
  background: var(--6);
  color: var(--3);
}

#results {
  list-style: none;
  color: var(--6);
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  body {
    overflow: auto;
  }

  h1 {
  margin: 1.5rem auto 0 auto;
  }

  h2 {
    font-size: 1.1rem;
  }

  .page-container {
    width: 100%;
  }

  .search-container input {
    width: 80%;
  }

  #search-btn {
    width: 80%;
  }
}